<ul class='sub-menus'>
    {% for cat in cat.children.active %}
         <li >
             <a  href="{%url 'blog:category' cat.slug %}"> {{cat.title}}</a>
                {% if cat.children.active %}
                    {% include 'blog/partials/category_loop.html' %}   
                {% endif %}
         </li> 
    {% endfor %}
 </ul>