<div id="menu" >
    <ul >
        
        <li ><a  href="{%url 'blog:home'%}">خانه</a></li>
        {% for cat in category %}
            {% if cat.parent == None %}
        <li >
            <a class='dropdown-arrow'  href="{%url 'blog:category' cat.slug %}"> {{cat.title}}</a>
            {% if cat.children.active %}
                {% include 'blog/partials/category_loop.html' %}   
            {% endif %}
        </li>
            {% endif %}
        {%endfor%}
        
    </ul>
</div>


    