{% extends 'blog/base.html' %}
{% block title %} | {{object.title}}{% endblock %}
{% block main %}
                <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{object.thumbnail.url}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h3>{{object.title}}</h3>
                            <time>{{object.jpublish}}</time>
                            <span class="subheading">زیبایی سنت و صنعت</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7 text-justify">
                        {{object.description|linebreaks}}
                    </div>
                </div>
            </div>
        </article>
        {% endblock %}