<article>
    <img src="{{article.thumbnail.url}}" alt="{{article.title}}" width="300" height="200">
    <h1>{{article.title}}</h1>
    <small>{{article.publish}}</small>
    <p>{{article.description}}</p>
</article>