{% extends 'blog/base.html' %}
{% load static %}
{% block main %}


        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{% static "/blog/assets/img/home-bg.jpg" %}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1 class="head-title">صنایع دستی میرزا</h1>
                            <span class="subheading">تهیه شده توسط جنگو میرزا</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            {% block header %}{% endblock %}
            {% for article in object_list %}
                            <!-- Post preview-->
            <div class="post-preview">
                <a href="{% url 'blog:detail' article.slug %}">
                    <p class="post-title">{{article.title}}</p>
                    <p class="post-subtitle">{{article.description|truncatewords:30}}</p>
                </a>
                <p class="post-meta">
                    نوشته شده توسط
                    <a href="#!">جنگو میرزا</a>
                    {{article.jpublish}}
                </p>
                <div>
                    {% for cat in article.category.active %}
                        <a href="{%url 'blog:category' cat.slug %}">#{{cat.title}}</a>
                    {%endfor%}
                </div>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            {%endfor%}
            <!-- Pager-->
            {% if is_paginated %}
                    <div class="d-flex justify-content-end mb-4">
                        {% if page_obj.has_previous %}
                        <a class="btn btn-primary text-uppercase ml-3" href="{% block previous_page_number %}{% endblock %}">&rarr;مقالات قبلی </a>
                        {% endif %}
                        {% if page_obj.has_next %}
                         <a class="btn btn-primary text-uppercase " href="{% block next_page_number %}{% endblock %}">مقالات بعدی &larr; </a>
                        {% endif %}
                    </div>
                {% endif %}
        </div>
    </div>
</div>
{% endblock %}