@font-face {
    font-family: Sahel;
    src: url('Sahel.eot');
    src: url('Sahel.eot?#iefix') format('embedded-opentype'),
         url('Sahel.woff2') format('woff2'),
         url('Sahel.woff') format('woff'),
         url('Sahel.ttf') format('truetype');
    
  }
  .head-title{
    font-family: Sahel;
  }

  
  .navbar-brand {
    font-family: "Sahel";
  }
  .nav-link.px-lg-3.py-3.py-lg-4 {
    font-family: "Sahel";
    
}
.site-heading.h1{
  font-family: "Sahel";
  font-style: italic;
  font-size: 10px;
 

}
.site-heading {
    font-family: "Sahel";
}

body{
direction :rtl;
text-align:right;
font-family:"Sahel" ;


}
header.masthead .site-heading {
    text-align: center;
    font-family:"Sahel";
    
  }

.navbar-nav.ms-auto.py-4.py-lg-0 {
    margin-left: initial !important;
    margin-right: auto;
    font-family: "Sahel";
  }
  .col-md-10.col-lg-8.col-xl-7 {
    font-family: "Sahel";
  
  }
.post-title {
    font-size: 16px;
    font-family: "Sahel";
  }
  .post-subtitle {
    font-family: "Sahel";
    
  }
  .post-preview > .post-meta {
    text-align: left;
    font-style: italic;
    margin-top: 0;
    color: #6c757d;
  }


  #menubar {
    background: #eeeeee;
    height:25%;
    list-style-type: none;
    width:100%;
    display: inline-table;
    margin:0;
    padding:0;
    z-index:99;
}